/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box-sizing */

* {
	box-sizing: border-box;
}

/* Typography */

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1rem;
}

h1,
h2 {
  font-family: Neucha, serif;
}

/* Layout */

body {
  align-items: center;
  background-image: linear-gradient(to bottom right, #6f3cc7, #9d5aeb);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

section {
  background-color: white;
  border-radius: 0.5rem;
  margin: 1.5rem auto 1.5rem;
  max-width: calc(100vw - 0.5rem);
  padding: 0 2.5rem;
  text-align: center;
  width: 40rem;
}

header img, h1, h2, a {
  margin: 0.6rem 0 1rem;
  letter-spacing: 0.1rem;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

header h2 {
  color: rgb(68, 68, 68);
  font-size: 1.1rem;
}

main {
  color: grey;
  font-size: 1rem;
  letter-spacing: 0.17rem;
  line-height: 1.2;
  padding: 1rem 2.2rem;
  text-align: left;
}

footer p {
  color: grey;
  display: inline-block;
  font-size: 0.8rem;
  margin: -0.8rem 0 1.2rem;
}

footer li {
  display: inline-block;
  filter: grayscale();
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Components */

#profile-image {
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  width: 80%;
  margin-top: -1.5rem;
  max-width: 10rem;
}

#profile-image:hover {
  transform: scale(1.1);
}

header a {
  background-color: blueviolet;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  filter: grayscale(0.3);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

header a:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Media queries */